{% include 'header.html' %}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/little-princes-fox.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>When this stories started</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>В далекие времена, когда солнце спускалось на землю и озаряло своим светом всю страну, наступил один момент, когда я встретил нежную и милую красавицу, она словно счастливая бабочка порхала с цветка на цветок, была полна энергии и любви.</p>
                    <p>Ей очень хотелось радоваться жизни, улыбаться прохожим, да и просто дарить улыбки и быть счастливой. Ничто не могло ее сломать или заставить думать как-то иначе. Она была сама, как мир, как вселенная, полная безумства и добра.</p>
                    <p>Но в один момент, ее предали, предали те, в ком она очень нуждалась. Ради кого жила и просто строила свои мечты. Как бы не было печально, но словно птица с обрезанными крыльями, она упала на дно, самого большого ущелья. Никто не мог ее спасти, и лишь время неумолимо тикало каждую минуту.</p>
                    <p>Глядя на все происходящее, я не мог пройти мимо. Не мог просто остаться в стороне, и сделать вид, что ничего не замечаю. Жизнь этой маленькой принцессы, мне была не безразлична. Ее улыбка, глаза, да и просто радость в душе, помогали мне наполнять смыслом каждую минуту, которую мы вместе находились рядом</p>
                    <p>Вот этот грустный момент, и положил начало этой сказочной истории, про маленькую девочку которая, несмотря ни на что, шла с улыбкой в душе и добротой в сердце, на встречу всем невзгодам, предательствам и обидам. Никто не знает, что будет в конце этой истории, но в чем я точно уверен, ее жизнь уже не останется прежней и ее огромный мир, станет еще больше и насыщеннее.</p>
                </div>
            </div>
        </div>
        <hr />
        <!-- Footer-->
{% include 'footer.html' %}